{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="" />

  <!-- SEO Meta Tags -->
  <meta name="description" content="Sitio Follow News.">
  <meta name="author" content="David Burneo Naraima">

  <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook -->
  <meta property="og:site_name" content="Follow News" /> <!-- website name -->
  <meta property="og:site" content="http://follows.news/" /> <!-- website link -->
  <!-- <meta property="og:title" content=""/> title shown in the actual shared post -->
  <meta property="og:description" content="Applición Web y movil para seguir noticias específicas." />
  <!-- description shown in the actual shared post -->
  <!-- <meta property="og:image" content="" /> image link, make sure it's jpg -->
  <!-- <meta property="og:url" content="" /> where do you want your post to link to -->
  <!-- <meta property="og:type" content="article" /> -->

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/follownews.css' %}">
  <link rel="stylesheet" href="{% static 'css/followCustom.css' %}">

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <!-- Favicon  -->
  <link rel="icon" href="{% static 'img/favicon.ico' %}">
  <title>Follow News | {% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
  {% block js %}
  {% endblock js %}

</head>

<body class="hold-transition login-page">
  {% block body %}

    <div class="login-box">
      <!-- Brand Logo -->
      <a href="{% url 'home' %}" class="brand-link fn-brand d-flex justify-content-center">
        <span class="brand-text font-weight-light"><b class="font-brand">F</b>ollow <b class="font-brand">N</b>ews</span>
      </a>
      <!-- /.login-logo -->

      {% block content %}

      {% endblock content %}

    </div>
    <!-- /.login-box -->
  
    <footer class="d-flex justify-content-center">
      <h5>Hecha con <i class="fab fa-gratipay" style="color: red;"></i> para mantenerte informado.</h5>
    </footer>
  
  {% endblock body %}

  {% block scripts %}
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/adminlte.js' %}"></script>
  {% endblock scripts %}
</body>  