{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

  {% block content %}
    
    <div class="card">
      <div class="card-body login-card-body">
  
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
          <div class="socialaccount_ballot">
              <div class="social-auth-links text-center mb-1">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </div>
          </div>
        {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
        <h4 class="login-box-msg">{% trans "Sign In" %} con tu correo</h4>
        
        <form method="post">
          {% csrf_token %}
          <div class="row">
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
            
            {% for field in form %}
                <dt class="col-sm-3">
                  {{ field.label_tag }}
                </dt>
                <dd class="col-sm-9">
                  &nbsp &nbsp {{ field }}
                </dd>
                {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
          </div>
            
          <div class="row">
              <button type="submit" class="btn btn-primary btn-block a-login">Ingresar</button>
          </div>
        </form>

        <p class="mb-1 mt-2">
          <a href="{% url 'account_reset_password' %}" class="a-link-pw">Olvidé mi password</a>
        </p>
        <p class="mb-0">
          <a href="{% url 'account_signup' %}" class="text-center a-link-pw">Mantente informado. Regístrate</a>
        </p>
      </div>
    </div>  <!-- /.login-card-body -->

    {% endblock content %}
    
  {% block scripts %}
    
  {% endblock scripts %}
    
</body>