{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body login-card-body">
            <h4 class="login-box-msg">{% trans "Change Password" %}</h4>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row pl-5">
                    {% for field in form %}
                        <div class="col-12">
                            {{ field.label_tag }}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-12 pb-2">
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 pt-4">
                    <button type="submit" class="btn btn-primary btn-block a-login">{% trans "Change Password" %} &raquo;</button>
                </div>
                <div class="col-12 pt-4">
                    <a class="a-login btn btn-secondary btn-block" href="{% url 'home' %}" role="button">Regresar &raquo;</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
