{% extends 'base_wo_panel.html' %}

{% block head_title %}| Perfil{% endblock %}

<body>
{% block content %}
    <h4 class="text-left">Bienvenido, {{ user.first_name }} {{user.last_name }}</h4>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ msg.message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="row">
                <div class="col-md-3">
                    {{ form.first_name.label_tag }}
                </div>
                <div class="col-md-9 pull-left">
                    <div class="row">
                        {% for error in first_name.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    {{ form.first_name }}
                </div>

                <div class="col-md-3">
                    {{ form.last_name.label_tag }}
                </div>
                <div class="col-md-9 pull-left">
                    <div class="row">
                        {% for error in last_name.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    {{ form.last_name }}
                </div>

                <div class="col-md-3">
                    {{ form.birth_date.label_tag }}
                </div>
                <div class="col-md-9 pull-left">
                    <div class="row">
                        {% for error in birth_date.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    {{ form.birth_date }}
                    <div class="row">
                        <div class="col-md-3">
                            {{ form.birth_date.help_text }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    {{ form.date_joined.label_tag }}
                </div>
                <div class="col-md-9 pull-left">
                    {{ form.date_joined }}
                    <div class="row">
                        <div class="col-md-3">
                            {{ form.date_joined.help_text }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit"  class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>

    </form>

{% endblock content %}
</body>