.fn-brand {
  background-color: #081331;
}

.a-login {
      color: #ffffff;
      vertical-align: middle;
  }
.a-login:hover {
    color: #ccccff;
    vertical-align: middle;
}

/* El código siguiente es para los mensajes en la plantilla */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: red;
}

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
    background-color: #081331;
  }
/* ============= */  

[class*="sidebar-dark"] .brand-link {
  border-bottom: 1px solid #ccccff;
}

.font-brand {
  font-weight: 800;
}

/* Si funciona, cambiarlo en el follownews.css original, línea 18387 */
.btn-app {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #081331;
  font-size: 10px;
  height: 40px;
  margin: 0 0 0px 0px;
  min-width: 40px;
  max-width: 78px;
  overflow: hidden;
  padding: 6px 5px;
  position: relative;
  text-align: center;
}

/* Botones de Redes Sociales */
.btn-facebook-color, .btn-facebook-color:hover {
  background-color: #5071b8;
  border-color: #5071b8;
}

.btn-google-color, .btn-google-color:hover {
  background-color: #ea4335;
  border-color: #ea4335;
}
.btn-twitter-color, .btn-twitter-color:hover {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

/* link de password olvidado y crear cuenta */
.a-link-pw {
  color: #2424c9;
}

.a-link-pw:hover {
  color: #6969bd;
}

a[href^="mailto:"]

{ 
  color: #2424c9;
}

.text-color {
  color: #081331;
}