{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% if media.name %} | {{ media.name }}{% endif %}{% endblock %}

{% block aside %}

  <!-- Sidebar -->
  <div class=" sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="info mt-1 text-center text-color">
      <p class="d-block"><b>Medios</b></p>
    </div>
    <div class="form-group">
      <input class="form-control search" placeholder="Buscar" />
    </div>
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

        {% for media in medias %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'media' media.slug %}">
              <img class="nav-icon" src="{{ MEDIA_URL }}{{ media.media_mini_logo }}" alt="">
              {{ media }}
            </a>
          </li>

        {% endfor %}

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

{% comment %}

  <!-- Filtra las noticias de acuerdo al medio seleccionado -->
  <script type="text/javascript">
    var options = {
      valueNames: [ 'name' ]
    };
    var userList = new list('medios', options);
  </script>
  
{% endcomment %}
  

{% endblock aside %}

{% block content %}

  <div class="container">
    
    {% if not media_interest %}

      <div class="alert alert-info alert-dismissible" role="alert" style="display: {{ msg|default:'none' }};">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>
          Bienvenido a FollowNews!
        </strong>
          No has agregado ningún medio para seguir.
          <a href="{% url 'medias' %}" class="alert-link">
            Haz clic aquí para agregar medios
          </a>
      </div>
      
    {% endif %}
  
    <div class="row infinite-container">
      {% include 'news/entry_list_page.html' %}
    </div>

    {% if page_obj.has_next %}
      <a class="infinite-more-link" style="color: #081331;" href="?page={{ page_obj.next_page_number }}">Cargando...</a>
    {% endif %}
  
  </div>
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/waypoints/lib/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/waypoints/lib/infinite.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
    
{% endblock content %}
